@page "/BusinessListUpdate/{business_id:int}"
@rendermode InteractiveWebAssembly
@using SignalRChat.Client.Service
@using SignalRChat.Client.Model
@inject NavigationManager NavManager
@inject IJSRuntime JSRuntime
@inject SignalRChat.Client.Service.BusinessService ObjectBusinessService
@inject BusinessListService ObjectBusinessListService
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<PageTitle>商家修改</PageTitle>
@if(update) {
    <h3>商家修改</h3>
    <EditForm Model="@businessListUpdateModel" OnValidSubmit="@UpdateBusinessListAsync">
        <DataAnnotationsValidator @ref="dataAnnotationsValidator" />
        <ValidationSummary />
        <label for="business_type_id">商家類型(id)</label>
        <select @bind="businessListUpdateModel.business_type_id">
            @if (dataUpdateBusinessList != null)
            {
                @foreach (var dBT in dataUpdateBusinessList.dataBusinessType)
                {
                    <option value="@dBT.business_type_id">@dBT.business_type_name</option>
                }
            }
        </select><br/>
        <label for="business_name">商家名稱</label>
        <input id="business_name"
        type="text"
        class="form-control"
        @bind="businessListUpdateModel.business_name" />
        <label for="email">商家email</label>
        <input id="email"
        type="text"
        class="form-control"
        @bind="businessListUpdateModel.email" />
        <label for="address">商家地址</label>
        <input id="address"
        type="text"
        class="form-control"
        @bind="businessListUpdateModel.address" />
        <label for="phone_country">商家國碼</label><br />
        <select @bind="businessListUpdateModel.phone_country">
            @if (dataCountryCode != null)
            {
                @foreach (var dBT in dataCountryCode)
                {
                    <option value="@GetContryCode(dBT)">@GetContryCode(dBT)</option>
                }
            }
        </select><br />
        <label for="phone">商家電話</label>
        <input id="phone"
        type="text"
        class="form-control"
        @bind="businessListUpdateModel.phone" />
        <label for="business_url">商家網址</label>
        <input id="business_url"
        type="text"
        class="form-control"
        @bind="businessListUpdateModel.business_url" />
        <Alert Color="AlertColor.Warning" Class="@isHide" Dismissable="true">@errorMessage </Alert>
        <button class="btn btn-outline-primary" type="submit">
            修改
        </button>
        <button class="btn btn-outline-secondary" type="button"
        @onclick="@CancelUpdateBusinessListAsync">
            取消
        </button>
    </EditForm>
}
@code {
    private BusinessListUpdateModel businessListUpdateModel = new BusinessListUpdateModel();
    private DataAnnotationsValidator dataAnnotationsValidator = new DataAnnotationsValidator();
    private string errorMessage = "";
    private string isHide = "d-none";
    private UpdateBusinessList? dataUpdateBusinessList;
    private List<DataCountryCode>? dataCountryCode;    
    [Parameter]
    public int business_id { get; set; }
    public delegate void Callback();
    private BackendUserRightList BURL;
    // 權限控管
    private bool update = false;

    private string GetContryCode(DataCountryCode CC)
    {
        return string.Format("{0}({1})", CC.country_id, CC.phone_country);
    }
    private string GetContryCode(string country_id, string phone_country)
    {
        return string.Format("{0}({1})", country_id, phone_country);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                await InitializeAsync();
            }
            catch (Exception ex)
            {
                Console.WriteLine($"錯誤: {ex.Message}");
            }
        }
    }
    private async Task InitializeAsync()
    {        
        BURL = await sessionStorage.GetItemAsync<BackendUserRightList>("backendUserRightList");
        if (BURL.dataRight.Where(e => e.backend_right_id == 6).Count() > 0)
        {
            update = true;
        }
        else
        {
            update = false;
        }
        dataUpdateBusinessList = await ObjectBusinessListService.GetUpdateBusinessList(business_id);
        dataCountryCode = await ObjectBusinessService.GetCountryCode();
        if (dataUpdateBusinessList.code == "0")
        {
            businessListUpdateModel.business_type_id = dataUpdateBusinessList.dataBusinessList.business_type;
            businessListUpdateModel.business_name = dataUpdateBusinessList.dataBusinessList.business_name;
            businessListUpdateModel.email = dataUpdateBusinessList.dataBusinessList.email;
            businessListUpdateModel.phone = dataUpdateBusinessList.dataBusinessList.phone;
            businessListUpdateModel.address = dataUpdateBusinessList.dataBusinessList.address;
            businessListUpdateModel.business_url = dataUpdateBusinessList.dataBusinessList.business_url;
            businessListUpdateModel.business_id = dataUpdateBusinessList.dataBusinessList.business_id;
            businessListUpdateModel.phone_country = GetContryCode(dataUpdateBusinessList.dataBusinessList.country_id, dataUpdateBusinessList.dataBusinessList.phone_country);
            isHide = "d-none";
        }
        else
        {
            isHide = "";
            errorMessage = dataUpdateBusinessList.message;
        }
        StateHasChanged();
    }

    private async void UpdateBusinessListAsync()
    {
        ResponseStanderd req = await ObjectBusinessListService.PutBusinessList(businessListUpdateModel.business_id, businessListUpdateModel.address, businessListUpdateModel.phone, businessListUpdateModel.email, businessListUpdateModel.business_name, businessListUpdateModel.business_type_id, BURL.backend_user_id, businessListUpdateModel.business_url, string.Format("{0}", businessListUpdateModel.phone_country.Substring(businessListUpdateModel.phone_country.IndexOf("(") + 1, businessListUpdateModel.phone_country.IndexOf(")") - businessListUpdateModel.phone_country.IndexOf("(") - 1)), businessListUpdateModel.phone_country.Substring(0, businessListUpdateModel.phone_country.IndexOf("(")));
        errorMessage = req.message;
        isHide = "";
        StateHasChanged();
        await Task.Delay(6000);
        isHide = "d-none";
        StateHasChanged();
    }

    private async void CancelUpdateBusinessListAsync()
    {
        await JSRuntime.InvokeVoidAsync("history.back");
    }
}
